# Statistics Practice Case: NBA

## Setup

In [1]:
# import packages and set some options
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Preprocessing

In [2]:
# read in the data
nba = pd.read_csv('data/Seasons_Stats.csv', index_col=0)
nba.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,NaN,0.467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,3.6,3.5,NaN,NaN,NaN,NaN,NaN,NaN,144.0,516.0,0.279,NaN,NaN,NaN,144.0,516.0,0.279,0.279,170.0,241.0,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,NaN,0.387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,0.6,2.2,NaN,NaN,NaN,NaN,NaN,NaN,102.0,274.0,0.372,NaN,NaN,NaN,102.0,274.0,0.372,0.372,75.0,106.0,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,NaN,0.259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,2.8,3.6,NaN,NaN,NaN,NaN,NaN,NaN,174.0,499.0,0.349,NaN,NaN,NaN,174.0,499.0,0.349,0.349,90.0,129.0,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,NaN,0.395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,22.0,86.0,0.256,NaN,NaN,NaN,22.0,86.0,0.256,0.256,19.0,34.0,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,NaN,0.378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,21.0,82.0,0.256,NaN,NaN,NaN,21.0,82.0,0.256,0.256,17.0,31.0,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [3]:
# we only need the data from 2017
nba = nba[nba['Year'] == 2017.0]

In [4]:
# a quick snippet of the data
nba.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,0.724,0.144,1.9,7.1,4.5,5.5,1.7,0.6,8.3,15.9,NaN,1.2,0.9,2.1,0.095,NaN,-0.3,-2.2,-2.5,-0.1,134.0,341.0,0.393,94.0,247.0,0.381,40.0,94.0,0.426,0.531,44.0,49.0,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
24097,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,0.529,0.353,3.9,18.0,11.0,4.9,1.2,2.0,9.7,16.8,NaN,0.5,0.5,0.9,0.082,NaN,-1.8,-1.2,-3.0,-0.1,70.0,170.0,0.412,37.0,90.0,0.411,33.0,80.0,0.413,0.521,45.0,60.0,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
24098,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,0.412,0.176,4.6,15.2,9.7,0.0,0.0,0.0,9.8,20.0,NaN,-0.2,0.0,-0.1,-0.133,NaN,-10.1,-6.0,-16.2,-0.2,5.0,17.0,0.294,1.0,7.0,0.143,4.0,10.0,0.400,0.324,2.0,3.0,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,0.542,0.373,3.8,18.2,11.1,5.4,1.3,2.2,9.6,16.5,NaN,0.6,0.5,1.1,0.102,NaN,-1.1,-0.7,-1.8,0.0,65.0,153.0,0.425,36.0,83.0,0.434,29.0,70.0,0.414,0.542,43.0,57.0,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,0.002,0.392,13.0,15.5,14.2,5.4,1.8,2.6,16.0,16.2,NaN,3.3,3.1,6.4,0.130,NaN,-0.7,1.2,0.5,1.5,374.0,655.0,0.571,0.0,1.0,0.000,374.0,654.0,0.572,0.571,157.0,257.0,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

In [5]:
# drop the duplicate values of players and keep the last entry
nba.drop_duplicates(subset="Player", keep="last", inplace=True, ignore_index=True)

In [6]:
nba.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,0.724,0.144,1.9,7.1,4.5,5.5,1.7,0.6,8.3,15.9,NaN,1.2,0.9,2.1,0.095,NaN,-0.3,-2.2,-2.5,-0.1,134.0,341.0,0.393,94.0,247.0,0.381,40.0,94.0,0.426,0.531,44.0,49.0,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,0.542,0.373,3.8,18.2,11.1,5.4,1.3,2.2,9.6,16.5,NaN,0.6,0.5,1.1,0.102,NaN,-1.1,-0.7,-1.8,0.0,65.0,153.0,0.425,36.0,83.0,0.434,29.0,70.0,0.414,0.542,43.0,57.0,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,0.002,0.392,13.0,15.5,14.2,5.4,1.8,2.6,16.0,16.2,NaN,3.3,3.1,6.4,0.130,NaN,-0.7,1.2,0.5,1.5,374.0,655.0,0.571,0.0,1.0,0.000,374.0,654.0,0.572,0.571,157.0,257.0,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,0.360,0.221,0.7,8.4,4.6,7.4,0.7,0.4,8.4,14.4,NaN,1.2,0.2,1.4,0.043,NaN,-1.4,-2.0,-3.5,-0.6,185.0,420.0,0.440,62.0,151.0,0.411,123.0,269.0,0.457,0.514,83.0,93.0,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,0.022,0.225,8.3,23.8,16.0,3.1,1.7,3.1,13.7,17.2,NaN,0.0,0.9,1.0,0.080,NaN,-5.1,1.0,-4.1,-0.3,89.0,178.0,0.500,0.0,4.0,0.000,89.0,174.0,0.511,0.500,29.0,40.0,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0

In [7]:
# look at the total missing value in each columns
col_na = nba.isna().sum().sort_values(ascending=False)
col_na[col_na != 0]

blanl     486
blank2    486
3P%        39
FT%        18
2P%         4
eFG%        2
TOV%        2
FG%         2
TS%         2
3PAr        2
FTr         2
dtype: int64

In [8]:
# remove columns that don't have any data
nba.drop(['blanl', 'blank2'], axis=1, inplace=True)

In [9]:
nba.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,0.724,0.144,1.9,7.1,4.5,5.5,1.7,0.6,8.3,15.9,1.2,0.9,2.1,0.095,-0.3,-2.2,-2.5,-0.1,134.0,341.0,0.393,94.0,247.0,0.381,40.0,94.0,0.426,0.531,44.0,49.0,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,0.542,0.373,3.8,18.2,11.1,5.4,1.3,2.2,9.6,16.5,0.6,0.5,1.1,0.102,-1.1,-0.7,-1.8,0.0,65.0,153.0,0.425,36.0,83.0,0.434,29.0,70.0,0.414,0.542,43.0,57.0,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,0.002,0.392,13.0,15.5,14.2,5.4,1.8,2.6,16.0,16.2,3.3,3.1,6.4,0.130,-0.7,1.2,0.5,1.5,374.0,655.0,0.571,0.0,1.0,0.000,374.0,654.0,0.572,0.571,157.0,257.0,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,0.360,0.221,0.7,8.4,4.6,7.4,0.7,0.4,8.4,14.4,1.2,0.2,1.4,0.043,-1.4,-2.0,-3.5,-0.6,185.0,420.0,0.440,62.0,151.0,0.411,123.0,269.0,0.457,0.514,83.0,93.0,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,0.022,0.225,8.3,23.8,16.0,3.1,1.7,3.1,13.7,17.2,0.0,0.9,1.0,0.080,-5.1,1.0,-4.1,-0.3,89.0,178.0,0.500,0.0,4.0,0.000,89.0,174.0,0.511,0.500,29.0,40.0,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0

In [10]:
# check for improper column type
nba.dtypes

Year      float64
Player     object
Pos        object
Age       float64
Tm         object
G         float64
GS        float64
MP        float64
PER       float64
TS%       float64
3PAr      float64
FTr       float64
ORB%      float64
DRB%      float64
TRB%      float64
AST%      float64
STL%      float64
BLK%      float64
TOV%      float64
USG%      float64
OWS       float64
DWS       float64
WS        float64
WS/48     float64
OBPM      float64
DBPM      float64
BPM       float64
VORP      float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

All the types seem proper.

## Analysis

### Question 1  
Who is the youngest and oldest player in the NBA in 2017 for each team?

In [11]:
# the oldest player in each team
nba.loc[nba.groupby('Tm')['Age'].idxmax(), ['Tm', 'Player', 'Age']].sort_values('Age', ascending=False)

      Tm           Player   Age
72   MEM     Vince Carter  40.0
355  LAC      Paul Pierce  39.0
153  SAS    Manu Ginobili  39.0
422  MIL      Jason Terry  39.0
10   CLE   Chris Andersen  38.0
331  DAL    Dirk Nowitzki  38.0
474  LAL      Metta World  37.0
116  ATL    Mike Dunleavy  36.0
85   OKC    Nick Collison  36.0
182  MIA    Udonis Haslem  36.0
28   GSW      Matt Barnes  36.0
302  DEN      Mike Miller  36.0
394  BRK       Luis Scola  36.0
448  CHI      Dwyane Wade  35.0
228  UTA      Joe Johnson  35.0
274  MIN       John Lucas  34.0
25   PHO  Leandro Barbosa  34.0
192  HOU     Nene Hilario  34.0
436  DET       Beno Udrih  34.0
215  NOP     Jarrett Jack  33.0
16   NYK  Carmelo Anthony  32.0
57   IND     Aaron Brooks  32.0
454  ORL      C.J. Watson  32.0
410  PHI   Tiago Splitter  32.0
158  WAS    Marcin Gortat  32.0
377  CHO    Brian Roberts  31.0
3    SAC    Arron Afflalo  31.0
164  BOS     Gerald Green  31.0
433  TOR      P.J. Tucker  31.0
434  POR      Evan Turner  28.0

In [12]:
# the youngest player in each team
nba.loc[nba.groupby('Tm')['Age'].idxmin(), ['Tm', 'Player', 'Age']].sort_values('Age')

      Tm                   Player   Age
279  MIL               Thon Maker  19.0
344  SAC     Georgios Papagiannis  19.0
40   PHO            Dragan Bender  19.0
317  DEN             Jamal Murray  19.0
213  LAL           Brandon Ingram  19.0
414  LAC            Diamond Stone  19.0
24   MEM             Wade Baldwin  20.0
108  NOP            Cheick Diallo  20.0
238  MIN               Tyus Jones  20.0
471  MIA          Justise Winslow  20.0
435  IND             Myles Turner  20.0
341  HOU           Chinanu Onuaku  20.0
269  GSW             Kevon Looney  20.0
120  DET           Henry Ellenson  20.0
316  SAS          Dejounte Murray  20.0
60   BOS             Jaylen Brown  20.0
483  ORL        Stephen Zimmerman  20.0
389  OKC         Domantas Sabonis  20.0
275  PHI  Timothe Luwawu-Cabarrot  21.0
445  POR              Noah Vonleh  21.0
66   TOR            Bruno Caboclo  21.0
289  WAS         Chris McCullough  21.0
127  UTA               Dante Exum  21.0
42   DAL               Ben Bentil  21.0
131  CLE               Kay Felder  21.0
473  CHO           Christian Wood  21.0
361  CHI             Bobby Portis  21.0
459  BRK         Isaiah Whitehead  21.0
362  NYK       Kristaps Porzingis  21.0
39   ATL          DeAndre' Bembry  22.0

### Question 2  
Which player has the most minutes played in each position?

In [13]:
nba.loc[nba.groupby('Pos')['MP'].idxmax(), ['Pos', 'Player', 'Tm', 'MP']].sort_values('MP', ascending=False)

    Pos              Player   Tm      MP
461  SF      Andrew Wiggins  MIN  3048.0
432   C  Karl-Anthony Towns  MIN  3030.0
171  PG        James Harden  HOU  2947.0
27   PF     Harrison Barnes  DAL  2803.0
287  SG       C.J. McCollum  POR  2796.0

### Question 3  
Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [14]:
# highest average trb%
nba.groupby('Tm')['TRB%'].mean().sort_values(ascending=False).reset_index().iloc[[0]]

    Tm       TRB%
0  WAS  12.735294

In [15]:
# highest average ast%
nba.groupby('Tm')['AST%'].mean().sort_values(ascending=False).reset_index().iloc[[0]]

    Tm       AST%
0  DEN  15.723529

In [16]:
# highest average stl%
nba.groupby('Tm')['STL%'].mean().sort_values(ascending=False).reset_index().iloc[[0]]

    Tm      STL%
0  MIN  2.413333

In [17]:
# highest average blk%
nba.groupby('Tm')['BLK%'].mean().sort_values(ascending=False).reset_index().iloc[[0]]

    Tm      BLK%
0  MIL  2.741176

### Question 4  
Who is the best player in your opinion based on his record stats?

In [18]:
# create per game stats
nba['PPG'] = nba['PTS'] / nba['G']
nba['RPG'] = nba['TRB'] / nba['G']
nba['APG'] = nba['AST'] / nba['G']
nba['BPG'] = nba['BLK'] / nba['G']
nba['SPG'] = nba['STL'] / nba['G']
nba['TPG'] = nba['TOV'] / nba['G']
nba['FPG'] = nba['PF'] / nba['G']

In [19]:
nba[['Player', 'PPG', 'RPG', 'APG', 'BPG', 'SPG','TPG', 'FPG']].head()

,Player,PPG,RPG,APG,BPG,SPG,TPG,FPG
0,Alex Abrines,5.970588,1.264706,0.588235,0.117647,0.544118,0.485294,1.676471
1,Quincy Acy,6.531250,3.343750,0.562500,0.468750,0.437500,0.593750,1.812500
2,Steven Adams,11.312500,7.687500,1.075000,0.975000,1.100000,1.825000,2.437500
3,Arron Afflalo,8.442623,2.049180,1.278689,0.114754,0.344262,0.688525,1.704918
4,Alexis Ajinca,5.307692,4.538462,0.307692,0.564103,0.512821,0.794872,1.974359

In [20]:
stats = ['PPG', 'TS%', 'RPG', 'APG', 'BPG', 'SPG', 'TPG', 'FPG']
norm_stats = ['PPG_n', 'TS%_n', 'RPG_n', 'APG_n', 'BPG_n', 'SPG_n', 'TPG_n', 'FPG_n']

# give weights to stats 
# negative for bad stats, turnovers & fouls
weight = [2, 2, 1.5, 1.5, 1, 1, -1, -1]

# scale stats using min-max scaling
scaler = MinMaxScaler()
nba[norm_stats] = scaler.fit_transform(nba[stats]) * weight

In [21]:
# sum all the scaled stats
nba['Rating'] = nba[norm_stats].sum(axis=1)

In [22]:
# who is the mvp?
mvp = nba['Rating'].idxmax()
nba.loc[mvp:mvp, ['Player', 'Tm', 'PPG', 'TS%', 'RPG', 'APG', 'BPG', 'SPG', 'Rating']]

,Player,Tm,PPG,TS%,RPG,APG,BPG,SPG,Rating
457,Russell Westbrook,OKC,31.580247,0.554,10.666667,10.37037,0.382716,1.641975,5.308274

### Question 5  
Which team has the best average stat record of their players?

In [23]:
team = nba.groupby('Tm').mean('Rating')
team.sort_values('Rating', ascending=False).reset_index()[['Tm', 'PPG', 'TS%', 'RPG', 'APG', 'BPG', 'SPG', 'Rating']].head(1)

    Tm       PPG       TS%      RPG       APG       BPG      SPG    Rating
0  GSW  8.596112  0.569125  3.63325  2.263657  0.550073  0.71476  2.536997